<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Identification</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Language Identification</h1>
    <h3>Enter a Sentence</h3>
    <form action="/predict" method="post">
        <input type="text" id="sentence" name="sentence"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>